# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: ODAI-LIB Challenge 2026
subtitle: 'FSE/AIWare On-Demand Library Generation, Sun 5 - Thu 9 July 2026 Montreal, Canada'
description: >- # this means to ignore newlines until "baseurl:"
  The ODAI-LIB Challenge 2026 (On-Demand Libraries: Prompting to Generate an Ecosystem Library) is a competition held as part of the FSE-AIWare 2026 Competition Track. The challenge explores how generative AI techniques can be used to dynamically generate software libraries on demand, addressing challenges related to software ecosystem dependencies, security vulnerabilities, and maintenance overhead.
# twitter_username: jekyllrb
github_username:  odai-lib

header_pages:
- call.md
- accepted-submissions.md
- program-committee.md
- organising-committee.md

nav-links:
- title: FSE 2026
  url: https://conf.researchr.org/track/fse-2026/fse-2026-aiware-2026-competition
- title: AIWare 2026
  url: https://2026.aiwareconf.org/track/aiware-2026-fse-aiware-joint-competition

# Build settings
theme: minima
plugins:
  - jekyll-feed
accent_color: "#DF4C20"

# baseurl: "" # the subpath of your site, e.g. /blog # leave commented out if no subpath
url: "" # the base hostname & protocol for your site, e.g. http://example.com

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

sass:
  quiet_deps: true
